body {
    margin: 0;
    padding: 0;
  }
  
  .content {
    height: 100vh;
  }
  
  @media (max-width: 768px) {
    .content {
      height: 80vh; 
    }
  }
  
  @media (max-width: 480px) {
    .content {
      height: 60vh;
    }
  }
  
  @media (max-width: 280px) {
    .content {
      height: 30vh;
    }
  }
  